* {
  padding: 0;
  margin: 0;
}
 
body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
 
/*
  AppBar
*/
 
.app-bar {
  padding: 8px 16px;
  background-color: lightblue;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 12px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  color: black;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: lightblue;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 20px;
}
 
.hero {
  text-align: center;
}

.hero img {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  background-position: center;
  background-color: green;
}

.hero__inner {
  max-width: 800px;
  position: absolute;
  margin-top: 20px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 15%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.hero__title {
  color: black;
  font-weight: 600;
  font-size: 50px;
}

.hero__tagline {
  color: black;
  margin-top: 16px;
  font-size: 32px;
  font-weight: 400;
}

main {
  padding: 32px;
  flex: 1;
  background-color: lightpink;
  font-family: 'Roboto', sans-serif;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}
 
.content .content__heading {
  font-weight: normal;
}
 
 
/*
  restaurants
*/
 
.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}
 
 
/*
  restaurant Item
*/
 
.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}
 
.restaurant-item__header {
  position: relative;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
}

.restaurant-item__header__poster {
  height: 180px;
  object-fit: cover;
  object-position: center;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
}
 
.restaurant-item__content {
  padding: 16px;
}
 
.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}
 
.restaurant-item .restaurant-item__content h3 a {
  color: #db0000;
  text-decoration: none;
  font-size: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
}
 
.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
 
 
/*
  restaurant
*/
 
.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
 
.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
}

.restaurant__info {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: lightblue;
}

.restaurant-info__content {
  padding: 24px;
  font-size: 26px;
}

.restaurant-info__content h4,
.restaurant-info__content p,
.restaurant-info__content li {
  padding-bottom: 7px;
  padding-top: 7px;
}
 
.restaurant .restaurant__info h4 {
  margin: 8px 0;
}

input[type=text]
{
    font-family: Raleway;
    background: #F5F1FF;
    border: 2px solid #9475EA;
    border-radius: 8px;
    width: 100%;
    font-size: 36px;
}

.btn-submit {
  width: fit-content;
  border: none;
  font-family: Raleway;
  border-radius: 16px;
  padding: 12px 24px;
  border:2px solid #5F30E2;
  color: black;
  font-size: 24px;
  margin-top: auto;
  align-self: flex-end;
  cursor: pointer;
}

.restaurant__overview p {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: lightblue;
}
 
 
/*
  Footer
*/
 
footer {
  padding: 16px;
}
 
footer p {
  text-align: center;
  color: #aaaaaa;
  font-size: 24px;
}
 
footer p a {
  color: #db0000;
  text-decoration: none;
  padding: 10px;
}

/*
 Like
*/

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}